body {
  margin-top: 5%;
}
.center {
  text-align: center;
}
.building {
    display: flex;
    flex:1;
}
.floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Add margin/padding as needed */
    border: 2px solid black;
    background-color: #f0f0f0;
    font-size: 25px;
    font-weight: 600;
}
.floor img {
    max-width: 50px; /* Adjust the image dimensions as needed */
    max-height: 50px;
    margin-right: 10px; /* Add margin between images */
}
.floor-images{
    display: flex;
    gap: 55px;
}