body {
  margin-top: 5%;
}
.center {
  text-align: center;
}

.building {
    display: flex;
    flex:1;
}

.floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Add margin/padding as needed */
    border: 2px solid black;
    background-color: #f0f0f0;
    font-size: 25px;
    font-weight: 600;
}

.floor img {
    border: 2px solid blueviolet;
    box-shadow:#f0f0f0;
    max-width: 50px; /* Adjust the image dimensions as needed */
    max-height: 50px;
    margin-right: 10px; /* Add margin between images */
    box-shadow: inset;
}
.floor-images {
    display: flex;
    gap: 55px;
    position: relative;
  overflow: hidden;
}

.direction-image {
  border: 4px solid black;
  background-color: white;
  padding: 2px;
  border-radius: 35%;
}

@keyframes openLift {
  0% {
    transform: scaleX(0);
    transform-origin: bottom;
    opacity: 0; /* Initially transparent */
  }
  100% {
    transform: scaleX(1);
    transform-origin: bottom;
    opacity: 1; /* Fully opaque */
  }
}
.floor-images img {
  animation: openLift 1s ease-in forwards; /* Adjust the animation duration as needed */
}