
.building {
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:grey;
    padding: 20px 20px 20px 20px;
}

.floor-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.floor {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    background-color: #d9d9d9;
}

.up-button,
.down-button {
    width: 80px;
    padding: 10px 20px;
    background-color: rgb(184, 211, 231);
        /* Green background */
        border: none;
        /* Remove default border */
        color: black;
        /* Text color */
        /* Button size */
        /* Center text */
        /* Remove underline */
        display: inline-block;

        /* Display as inline-block */
        /* Text size */
        border-radius: 50px;
        /* Make button round */
        box-shadow: 0px 5px 10px rgba(12, 18, 209, 0.3);
        /* Add box shadow */
        transition: all 0.2s ease-in-out;
        /* Add transition effect */
        margin-bottom: 10px;
    
}

.up-button:hover,
.down-button:hover {
        transform: translateY(-3px);
            /* Move button up on hover */
            box-shadow: 0px 5px 10px rgba(162, 23, 23, 0.3);
}
.up-button:active,
.down-button:active {
    transform: translateY(0px);
        /* Reset button position on click */
        box-shadow: 0px 5px 10px rgba(7, 22, 118, 0.3);
        /* Add box shadow */
        color: red;
}


.up-button:disabled,
.down-button:disabled {
    color: red;
    opacity: 0.5;
    transform: translateY(0px);
    box-shadow: 0px 5px 10px rgba(7, 22, 118, 0.3);

}

.building-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.floor-wrapper {
    display: flex;
    /* padding-bottom: 5%; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.lift {
    z-index: 0;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: 180px;
    padding: 10px;
    background-color: rgb(15, 74, 110);
}

.lift-door{
    z-index: 0;
    transition: 2.5s ease;
    height: 100%;
    width: 45%;
    background-color: aquamarine;
}

.floor-beam {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: grey;
}