*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.flexClass{
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.btn{
    font-weight:600
}
form{
    border: 0.2rem black solid;
    padding: 2rem;
}

#myDiv{
    background-color: #000;
    padding-top: 2rem;

}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}


.floors{
    border-bottom: 0.1rem black solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 99px;
    z-index: 2;
    
}

.lift{
   width: 50px;
   height: 80px;
   display: flex;
   flex-direction: row;
   background-color: #00b5b7
}

@media screen and (max-width: 1000px){
    .lift{
        width: 25px;
        height: 40px;
        display: flex;
        flex-direction: row;
        background-color: #00b5b7
     }


}

.upAndDown{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 5rem;
    justify-content: space-around;
    width: 10%;
}



.liftContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);}
/* */


.floorName{
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    font-weight: 600;
    
}

@media screen and (max-width:1000px) {
    .floorName{
    
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1rem;
        font-size: 10px;


        
    }
    
}

.door-left{
    border: 1px black solid;
    width: 50%;
    height: 100%;  
    background-color: #000;    
}




.door-right{
    /* border: 1px black solid; */
    width: 50%;
    height: 100%;
    background-color: #000;
    /* animation: slideRight 4s ; */
    /* background-color: blue; */
    

}



.backbutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

button{
    border: 1px solid #20262e;
    border-radius: 4px;
    color: #080a08;
    line-height: 18px;
    cursor: pointer;
    margin: 2px;
    width: 110px;
    height: 35px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    background-color: #20262e;
    color: #fff;
}


.backbut{
    height: 2rem;
}