@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/*REST CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

/*CSS VARIABLES*/

body {
    font-size: 1.6rem;
}

:root {
    --PRIMARY-COLOR: #06283D;
    --LIFT-COLOR: #1363DF;
    --LIFT-BORDER-COLOR: #000;
    --LIGHT_COLOR: #47B5FF;
    --VERY-LIGHT-COLOR: #DFF6FF;
    --COLOR-wHITE: black;
}

/*UTILITY CLASSES*/

.md-1 {
    margin: 1rem
}

.pd-1 {
    padding: 1rem;
}


/*STYLING MAIN TEXT*/

.main {
    display: flex;
    padding: 2.8rem;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.lift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    min-width: 24rem;
}

.heading {
    margin: 1rem 1rem 4rem;
    color: var(--PRIMARY-COLOR);
}

.inputs {
    border-radius: 5px;
    margin: 1rem;
    width: 24rem;
    height: 3.6rem;
    padding: 1rem;
}

.inputs:focus {
    background-color: var(--VERY-LIGHT-COLOR);
    border: var(--PRIMARY-COLOR);
}

.lift-container>label {
    font-weight: 500;
    align-self: flex-start;
    margin-left: 1.6rem;
}

.btn-primary,
.btn-up,
.btn-down {
    background-color: var(--PRIMARY-COLOR);
    color: var(--VERY-LIGHT-COLOR);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2.4rem;
    border: none;
    opacity: .9;
    cursor: pointer;
}

.btn-primary {
    margin-bottom: 4rem;
}
.btn-primary:hover,
.btn-up:hover,
.btn-down:hover {
    opacity: 1;
}

.btn-up {
    width: 8rem
}

.btn-down {
    width: 8rem;
    background-color: var(--LIFT-COLOR);
}

/*STYLING LIFTS*/

.lift {
display: flex;
align-self: flex-end;
    margin: 0 2rem;
    background-color: var(--VERY-LIGHT-COLOR);
    transition: transform 2s ease-out;
    overflow: hidden;
}



.lift-left {
    height: 9.6rem;
    width: 3.2rem;
    background-color: var(--LIFT-COLOR);
    border-radius: 4px 0 0 4px;
    border: 2px solid var(--PRIMARY-COLOR);
    transition: transform 2.5s ease-out;
}

.lift-right {
    height: 9.6rem;
    width: 3.2rem;
    background-color: var(--LIFT-COLOR);
    border-radius: 0 4px 4px 0;
    border: 2px solid var(--PRIMARY-COLOR);
    transition: transform 2.5s ease-out;
}

.open-lift-left {
    transform: translateX(-100%);
}

.open-lift-right {
    transform: translateX(100%);
}
/*STYLING FLOORS*/

.floors {
    width: 100%;
    padding-bottom: 4rem;
}
.floor {
width: 100%;
height: 140px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--PRIMARY-COLOR);
    padding: 1rem 2rem .6rem;
}
.lift-controller {
    display: flex;
    flex-direction: column;
}

/*DOOR ANIMATION*/