.floor_container {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.arrow_container {
  border: 1px solid black;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lift_container {
  width: 100%;
  display: flex;
  border: 1px solid black;
  max-width: 370px;
}

.lift {
  height: 100px;
  width: 10px;
  background-color: aquamarine;
  margin: 0 0.5%;
  border: 1px solid black;
  display: flex;
}



.door{
  width: 50%;
  height: 100px;
  background-color: lightblue;
  border: 1px solid coral;
  transition: all ease-in 1s;
}

.lift:hover .door{
  width: 0;
}

.arrow_container i:hover{
  transform: scale(1.07);
  opacity: 0.9;
  transition: all ease-in-out 0.2s;
}

.controls_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elevator_controls, .lift_controls{
  display: flex;
}

.btn{
  padding: 5px 10px;
  border-radius: 3px;
  margin: 2px 10px;
  background-color: aliceblue;
}

.remove{
  border: 1px solid red;
}

.add{
  border: 1px solid midnightblue;
}

.btn:hover{
  background-color: powderblue;
}

@media (min-width: 700px) {
  .lift_container{
    max-width: 670px;
  }
  .lift {
    height: 100px;
    width: 50px;
    margin: 0 1%;
  }
  .controls_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1100px) {
  .lift_container{
    max-width: 1070px;
  }
  .lift {
    height: 100px;
    width: 50px;
    margin: 0 1%;
  }
}